@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <li>@Html.ActionLink("Sign In", "SignIn", "Account")</li>
    <li>@Html.ActionLink("Sign Up", "SignUp", "Account")</li>
    <li>@Html.ActionLink("Edit Profile", "Profile", "Account")</li>
</div>
