@using System.Runtime.InteropServices

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Register as a company user</h2>
        <p>Company registration</p>
        <p>@Html.ActionLink("Register", "RegisterCompanyUser", "Account")</p>
    </div>
    <div class="col-md-4">
        <h2>Register as customer</h2>
        <p>Customer registration</p>
        <p>@Html.ActionLink("Register", "RegisterCustomerUser", "Account")</p>
    </div>
    <div class="col-md-4">
        <h2>Register as staff</h2>
        <p>Staff registration </p>
        <p>@Html.ActionLink("Register", "RegisterStaffUser", "Account")</p>
    </div>
</div>